// Place all the styles related to the ticket_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Style the tab */
body {
  background: #242e42d4;
    color: #cdd3dd;
}

body, a {
  color:#cdd3dd;
}

a:visited {
  color:#cdd3dd;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  #numbers {
      max-length: 1;
  }

  .new-number {
      width:500px;
  }

  #add-form {
    width: 600px;
    text-align: center;
    border: 2px solid;
    padding: 30px;
    border-radius: 11px;
  }

  .radio {
    display:inline-table;
  }

  .b-green-button {
    background: #00bf66;
    border: 1px solid #00bf66;
    border-radius: 20px;
    padding: 6px 14px;
    text-decoration: none;

  }

  .b-green-button:hover {
    background: #000;
    color: #fff;
    border-color: #fff;
  }

  input[type="submit" i] {
    background: #00bf66;
    border: 1px solid #00bf66;
    border-radius: 20px;
    padding: 6px 14px;
    text-decoration: none;

  }

  #notice {
    color: green;
    padding: 8px;
    text-decoration: underline;
    font-size: 20px;
  }

  #ticket_item_bxnum {
    width: 40px;
  }

  #ticket_item_stnum {
    width: 40px;
  }

  #ticket_item_starnum {
    width: 40px;
  }

  #ticket_item_lotnum {
    width: 40px;
  }

  .ticket_item_ttype {
    display: flex;
    float: left;
  }